<div class="game">
    <div class="game-wrap" ng-style="wrap" ng-repeat="girl in girls">
        <img  ng-click="choose(girl.id, $index)" data-id="{{girl.id}}" ng-src="{{imgprefix}}{{girl.img}}" alt=""/>
    </div>
</div>
<div class="game-timing">
    <span id="minutes"></span>
    <span>:</span>
    <span id="seconds"></span>
</div>

<div id="audio">
    <audio src="./mp3/choose.wav" preload="auto"  id="click"></audio>
    <audio src="./mp3/same.wav" preload="auto"  id="same"></audio>

</div>
<div class="cover">
    <div class="content">
        <div class="todo">
            <div class="todo-search">
                <h1><a class="github" target="_blank" href="https://github.com/tsq/pretty-girl">美女连连看</a></h1>
            </div>
            <div class="level">
                <div class="radioW">
                    <h3>请选择游戏难度</h3>
                    <label class="radio-inline"  ng-repeat="l in level">
                        <input type="radio" ng-model="config.level" name="level" value="{{l.key}}"> {{l.value}}
                    </label>
                    <div class="btnWrap">
                        <button class="btn btn-ok" ng-click="ok()">START</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!--<h1 id="time">1</h1>-->
</div>
<!--<div ng-include="'html/sidebar.html'"></div>-->

<div ng-show="displayBigImg" class="bigImg">
        <img id="bigImg" ng-src="{{bigImgSrc}}" alt=""/>
</div>