<div class="game">
    <div class="game-wrap" ng-style="wrap" ng-repeat="girl in girls">
        <img  ng-click="choose(girl.id, $index)" data-id="{{girl.id}}" ng-src="{{imgprefix}}{{girl.img}}" alt=""/>
    </div>
</div>
<div class="game-timing">
    <span id="minutes"></span>
    <span>:</span>
    <span id="seconds"></span>
</div>

<div id="audio">
    <audio src="./mp3/choose.wav" preload="none"  id="click"></audio>
    <audio src="./mp3/same.wav" preload="none"  id="same"></audio>

</div>
<div class="cover">
    <div class="wrap">
        <div class="level">
            <label class="radio-inline"  ng-repeat="l in level">
                <input type="radio" ng-model="config.level" name="level" value="{{l.key}}"> {{l.value}}
            </label>
        </div>
        <div class="bgMp3">
            <label class="radio-inline"  ng-repeat="l in bgMp3">
                <input type="radio" ng-model="config.bgMp3" name="bgMp3" value="{{l.key}}"> {{l.value}}
            </label>
        </div>
        <div class="ok">
            <p1>难度:</p1>
            <button ng-click="ok()">确定</button>
        </div>
        <div>
            {{config|json}}
        </div>
    </div>

    <!--<h1 id="time">1</h1>-->
</div>
<!--<div ng-include="'html/sidebar.html'"></div>-->

<div ng-show="displayBigImg" class="bigImg">
        <img id="bigImg" ng-src="{{bigImgSrc}}" alt=""/>
</div>