<div class="game">
    <div class="game-wrap" ng-style="wrap" ng-repeat="girl in girls">
        <img ng-click="choose(girl.id, $index)" data-id="{{girl.id}}" ng-src="{{imgprefix}}{{girl.img}}" alt=""/>
    </div>
</div>
<div class="game-timing">
    <span id="minutes"></span>
    <span>:</span>
    <span id="seconds"></span>
</div>

<audio src="./mp3/start.mp3" id="startAudio" preload="none" loop="loop"></audio>
<audio src="./mp3/choose.wav" preload="none"  id="click"></audio>
<audio src="./mp3/same.ogg" preload="none"  id="same"></audio>

<div class="cover">
    <h1 id="time">10</h1>
</div>